<div class="contact-bar-top">
    <span>Platform Assistance: <a href="mailto:info@level.casino">info@level.casino</a></span>
</div>
<header>
    <div class="logo-box">
        <div class="logo-icon">L</div>
        <a href="/" class="logo-text">LEVEL<span>.CASINO</span></a>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/guides/banking.html">Banking</a>
        <a href="/guides/registration.html">Registration</a>
        <a href="/crypto/crypto-casino-guide.html">Crypto Guide</a>
        <a href="/crypto/provably-fair.html">Provably Fair</a>
    </nav>
</header>
